<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>sheben</title>
</head>
<body>
<h3>Table scheben</h3>

<div class="container mr-5">
    <form action="#" th:action="@{'/schebens/'+${scheben.id}+'/edit'}" th:object="${scheben}" method="post">

<!--        <p>ГОСТ <input type="text" th:field="*{gost}" /></p>-->
        <div class="form-group">
            <label>
                <select th:field="${scheben.gost}">
                    <option th:each="gost : ${gostShebensEnum}"
                            th:value="${gost}"
                            th:text="${gost.gostEnum}"
                    ></option>
                </select>
            </label>
        </div>

        <!--        <div class="form-group">
                    <label class="col-form-label col-sm-4">Вид щебня</label>
                    <input type="text" th:field="*{vidScheben}" class="form-control">
                </div>-->
        <div class="form-group">
            <label>Вид щебня
                <select th:field="${scheben.vidScheben}">
                    <option th:each="vidScheben : ${vidSchebenShebensEnum}"
                            th:value="${vidScheben}"
                            th:text="${vidScheben.vidSchebenEnum}"
                    ></option>
                </select>
            </label>
        </div>
        <!--    <div class="form-group">
                <label class="col-form-label col-sm-4">Фракция</label>
                <input type="text" th:field="*{frakcia}" class="form-control">
            </div>-->
        <div class="form-group">
            <label>Фракция
                <select th:field="${scheben.frakcia}">
                    <option th:each="frakcia : ${frakciashebensEnum}"
                            th:value="${frakcia}"
                            th:text="${frakcia.frakciaEnum}"
                    ></option>
                </select>
            </label>
        </div>
        <!--        <div class="form-group">
                    <label class="col-form-label col-sm-4">Марка прочности</label>
                    <input type="text" th:field="*{markaProchnosti}" class="form-control">
                </div>-->
        <div class="form-group">
            <label>Марка прочности
                <select th:field="${scheben.markaProchnosti}">
                    <option th:each="markaProchnosti : ${markaProchnostiShebensEnum}"
                            th:value="${markaprochnosti}"
                            th:text="${markaProchnosti.markaProchnostiEnum}"
                    ></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-sm-4">Насыпная плотность</label>
            <input type="text" th:field="*{nasypnayaPlotnost}" class="form-control">
        </div>
        <div class="form-group">
            <label class="col-form-label col-sm-4">Содежание илистых глинистых</label>
            <input type="text" th:field="*{soderzhanieIlistyh}" class="form-control">
        </div>
        <!--       <div class="form-group">-->
        <!--            <label class="col-form-label col-sm-4">Морозостойкость</label>-->
        <!--            <input type="text" th:field="*{morozostoikost}" class="form-control">-->
        <!--        </div>-->
        <div class="form-group">
            <label>Морозостойкость
                <select th:field="${scheben.morozostoikost}">
                    <option th:each="morozostoikost : ${morozostoikostShebensEnum}"
                            th:value="${morozostoikost}"
                            th:text="${morozostoikost.morozostoikostEnum}"
                    ></option>
                </select>
            </label>
        </div>
        <!--      <div class="form-group">-->
        <!--            <label class="col-form-label col-sm-4">Радиоактивность</label>-->
        <!--            <input type="text" th:field="*{radioaktivnost}" class="form-control">-->
        <!--        </div>-->
        <div class="form-group">
            <label>Радиоактивность
                <select th:field="${scheben.radioaktivnost}">
                    <option th:each="radioaktivnost : ${radioaktivnostShebensEnum}"
                            th:value="${radioaktivnost}"
                            th:text="${radioaktivnost.radioaktivnostEnum}"
                    ></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-sm-4">Слабые породы</label>
            <input type="text" th:field="*{slabyePorody}" class="form-control">
        </div>
        <!--       <div class="form-group">-->
        <!--            <label class="col-form-label col-sm-4">Лещадность</label>-->
        <!--            <input type="text" th:field="*{leshadnost}" class="form-control">-->
        <!--        </div>-->
        <div class="form-group">
        <label>Лещадность
            <select th:field="${scheben.leshadnost}">
                <option th:each="leshadnost : ${leshadnostShebensEnum}"
                        th:value="${leshadnost}"
                        th:text="${leshadnost.leshadnostEnum}"
                ></option>
            </select>
        </label>
</div>
<!--       <div class="form-group">-->
<!--            <label class="col-form-label col-sm-4">Марка по истираемости</label>-->
<!--            <input type="text" th:field="*{markaPoIsteraemosti}" class="form-control">-->
<!--        </div>-->
<div class="form-group">
    <label>Марка по истираемости
        <select th:field="${scheben.markaPoIsteraemosti}">
            <option th:each="markaPoIsteraemosti : ${markaPoIsteraemostiShebensEnum}"
                    th:value="${markaPoIsteraemosti}"
                    th:text="${markaPoIsteraemosti.markaPoIsteraemostiEnum}"
            ></option>
        </select>
    </label>
</div>
<div class="form-group">
    <label class="col-form-label col-sm-4">Цена</label>
    <input type="number" step="0.1" name="*{price}" class="form-control">

        <p>цена: <input type="number" th:field="*{price}" /></p>
        <p><input type="submit" value="Редактировать" class="btn btn-primary green" /> </p>
</div>
    </form>
</div>
</body>
</html>