<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">


<h3>New scheben</h3>

<form th:action="@{/schebens/save}" th:object="${scheben}" method="post">
<!--    <div class="form-group">
        <label class="col-form-label col-sm-4">Scheben new</label>
            <input type="text" th:field="*{gost}" class="form-control">
    </div>-->
    <div class="form-group">
        <label>Область
            <select th:field="${scheben.gost}">
                <option th:each="gost : ${gostShebensEnum}"
                        th:value="${gost}"
                        th:text="${gost.gostEnum}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label class="col-form-label col-sm-4">Адрес карьера</label>
            <input type="text" th:field="*{vidScheben}" class="form-control">
    </div>
    <div class="form-group">
        <label class="col-form-label col-sm-4">price</label>
            <input type="number" step="0.1" name="*{price}" class="form-control">
    </div>
    <div class="form-group">
        <label class="col-form-label col-sm-4">Karier</label>
        <select th:field="*{karier}" class="form-control">
        <th:block th:each="kar:${listkariers}">
            <option th:text="${kar.karierName}" th:value="${kar.id}"></option>
        </th:block>
        </select>
            </div>
    <div class="text">
        <button type="submit" value="Добавить новый щебень" class="btn btn-success">Input new karier</button>
    </div>
</form>
</body>
</html>