<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">


<h3>Table karier</h3>

<form method="post">
    <div class="form-group">
        <label>Название карьера
            <input type="text" name="karierName" class="form-control">
        </label>
    </div>
    <div class="form-group">
    <label>Адрес карьера
        <input type="text" name="karierAddress" class="form-control">
    </label>
</div>
    <div class="form-group">
    <label>Юридическиое лицо карьера
        <input type="text" name="karierLawFace" class="form-control">
    </label>
</div>
    <div class="form-group">
    <label>Адрес юридического лица
        <input type="text" name="lawAddress" class="form-control">
    </label>
</div>
    <div class="form-group">
    <label>Эл. почта
        <input type="text" name="email" class="form-control">
    </label>
</div>
    <div class="form-group">
    <label>Координаты карьера
        <input type="text" name="coordinates" class="form-control">
    </label>
</div>
    <div class="form-group">
    <label>ИНН
        <input type="text" name="inn" class="form-control">
    </label>
    </div>
    <div class="form-group">
                        <label>Область
                            <select th:field="${karier.oblast}">
                            <option th:each="oblast : ${oblasts}"
                                    th:value="${oblast}"
                                    th:text="${oblast.displayName}"
                            ></option>
                            </select>
                        </label>
                    </div>
    <div class="form-group">
    <label>Номер лицензии на добычу
        <input type="text" name="nomerLicenzia" class="form-control">
    </label>
</div>
    <div class="form-group">
    <label>Дата выдачи лицензии
        <input type="text" name="dataLicenzia" class="form-control">
    </label>
</div>
    <div class="form-group">
        <label>График работы карьера
            <input type="text" name="grafikRabota" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Наличие весов
            <input type="text" name="nalichieVesov" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Контакт общий
            <input type="text" name="contactObshiy" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Контакт директора
            <input type="text" name="contactDiretor" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Контакт весовая
            <input type="text" name="contactVesovaya" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Контакт дополнительный
            <input type="text" name="dopContact" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Комментарий
            <input type="text" name="commentOpen" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Внутренний комментарий
            <input type="text" name="commentClose" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Код ж/д станции
            <input type="text" name="kodZhd" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить новый карьер" class="btn btn-success">
    </div>
</form>
</body>
</html>