<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<div class="container">
    <a th:href="@{/perevozchik/new}" class="btn btn-success">Добавить нового перевозчика</a>
</div>
<hr>
<div class="container">
    <h3>Все перевозчики</h3>
    <ul>
        <th:block th:each="perevoz : ${perevozchiks}">
            <li><a th:href="@{/perevozchik/{perevozhikId}(perevozhikId=${perevoz.getId()})}" th:text="${perevoz.getName()}">user</a></li>
        </th:block>
    </ul>
</div>
</body>
</html>